<h1>Home</h1>

<div class="homepage-container">
  <div class="content">
    <h1>Sugar Bay</h1>
    <h3>HOA Meeting</h3>
    <img src="/assets/sugarbay.jpg" alt="Small Image" class="centered-image">
  </div>
</div>
